{% extends "base.html" %} {% block content %} {% load static %}
{% load static %}
<section class="content1">
    <div id="main-header" >
        <img src="/static/img/logo-twitterblue.svg" alt="" class="main-logo" style="width: 10% ;padding:10px;">
        <h1>Edit</h1>
    </div>
<section class="posts-form">
    <form  method="POST" enctype="multipart/form-data" id="editform">
        {% csrf_token %}
    
    <div>
        <div class="logo1">
            <img src="{%static 'img/user.png' %}">
        <input type="text" name="name" id="name" value="{{ post.name }}" required>
    </div>
        <textarea  type="text" name="body" id="body" value="{{ post.body }}" rows="5">{{ post.body}}</textarea>
        {% if posts.image %}
        <img src="{{ post.image.url }}" alt="" style="width: 80%; border-radius: 5%;" class="postedimage" />
        {% endif %}
        </section>
    </div>
    <di class="butts">
        <input name="image" id="file" type="file"/>
        <input type="submit" id="tweet" value="Update"/>
        <a href="cancel" id="cancel">Cancel</a>
    </div>
    </form>

    
</section>
</section>

{% endblock %}